{% extends 'foodapp/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'foodapp/css/checkout.css' %}">
{% endblock %}

{% block content %}

<div class="checkout-container">

    <div class="delivery-details">
        <h2>Delivery Details</h2>

        <input type="text" placeholder="Full Name">
        <input type="email" placeholder="Email Address">
        <input type="text" placeholder="Phone Number">
        <textarea placeholder="Delivery Address"></textarea>
        <input type="text" placeholder="City">
        <input type="text" placeholder="Pincode">

        <h3>Payment Method</h3>

        <div class="payment-method">
            <label><input type="radio" name="payment"> Cash On Delivery</label>

            <label><input type="radio" name="payment"> UPI</label>

            <label><input type="radio" name="payment"> Card</label>
        </div>
    </div>

    <div class="order-summary">

        <h2>Order Summary</h2>

        <div class="summary-row">
            <span>Chicken Biryani</span>
            <span>₹299</span>
        </div>

        <div class="summary-row">
            <span>Delivery Fee</span>
            <span>₹40</span>
        </div>

        <div class="summary-row">
            <span>Tax</span>
            <span>₹20</span>
        </div>

        <hr>

        <div class="summary-row total">
            <span>Total</span>
            <span>₹359</span>
        </div>

        <button class="place-order-btn">
            <a href="{% url 'order_success' %}" class="place-order-btn">
                Place Order
            </a>
        </button>

    </div>

</div>

{% endblock %}