{% extends 'foodapp/base.html' %}
{% load static %}

{% block content %}
{% load static %}

<!-- HERO SECTION -->
<section class="hero">
    <div class="hero-content">
        <h1>Delicious Food Delivered To Your Door</h1>
        <p>Discover the best local restaurants near you.</p>
        <a href="/menu/" class="hero-btn">Order Now</a>
    </div>
</section>

<!-- OFFERS -->
<section class="offer-section">
    <h2>Today's Special Offers</h2>

    <div class="offer-grid">

        <div class="offer-card">
            <img src="{% static 'foodapp/images/offer1.jpg' %}">
            <h3>50% OFF</h3>
            <p>On First Order</p>
        </div>

        <div class="offer-card">
            <img src="{% static 'foodapp/images/offer2.jpg' %}">
            <h3>Free Delivery</h3>
            <p>Above ₹299</p>
        </div>

        <div class="offer-card">
            <img src="{% static 'foodapp/images/offer3.jpg' %}">
            <h3>Buy 1 Get 1</h3>
            <p>Selected Restaurants</p>
        </div>

    </div>
</section>

<!-- RESTAURANTS -->
<section class="restaurants">
   <h2 class="section-title">Popular Local Restaurants</h2>

    <div class="restaurant-grid">

        <div class="restaurant-card">
            <img src="{% static 'foodapp/images/restaurant1.jpg' %}">
            <h3>Hotel Paradise</h3>
            <p><p class="rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
 </p>
        </div>

        <div class="restaurant-card">
            <img src="{% static 'foodapp/images/restaurant2.jpg' %}">
            <h3>Food Court</h3>
            <p><p class="rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
 </p>
        </div>

        <div class="restaurant-card">
            <img src="{% static 'foodapp/images/restaurant3.jpg' %}">
            <h3>Spice Hub</h3>
            <p><p class="rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
 </p>
        </div>

        <div class="restaurant-card">
            <img src="{% static 'foodapp/images/restaurant4.jpg' %}">
            <h3>Taste Point</h3>
            <p><p class="rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
 </p>
        </div>

        <div class="restaurant-card">
            <img src="{% static 'foodapp/images/restaurant5.jpg' %}">
            <h3>Village Kitchen</h3>
            <p><p class="rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
 </p>
        </div>

        <div class="restaurant-card">
            <img src="{% static 'foodapp/images/restaurant6.jpg' %}">
            <h3>Family Restaurant</h3>
            <p><p class="rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
 </p>
        </div>

        <div class="restaurant-card">
    <img src="{% static 'foodapp/images/restaurant7.jpg' %}">
    <h3>Royal Biryani House</h3>
    <p><p class="rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
 </p>
</div>

<div class="restaurant-card">
    <img src="{% static 'foodapp/images/restaurant8.jpg' %}">
    <h3>Green Leaf Restaurant</h3>
    <p><p class="rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
 </p>
</div>

    </div>
</section>

<!-- POPULAR FOODS -->
<section class="foods">
    <h2 class="section-title">Popular Foods</h2>

    <div class="food-grid">

        <div class="food-card">
            <img src="{% static 'foodapp/images/biryani.jpg' %}">
            <h3>Biryani</h3>
            <p>₹199</p>
        </div>

        <div class="food-card">
            <img src="{% static 'foodapp/images/pizza.jpg' %}">
            <h3>Pizza</h3>
            <p>₹249</p>
        </div>

        <div class="food-card">
            <img src="{% static 'foodapp/images/shawarma.jpg' %}">
            <h3>Shawarma</h3>
            <p>₹149</p>
        </div>

        <div class="food-card">
            <img src="{% static 'foodapp/images/dosa.jpg' %}">
            <h3>Dosa</h3>
            <p>₹80</p>
        </div>

        <div class="food-card">
            <img src="{% static 'foodapp/images/idly.jpg' %}">
            <h3>Idly</h3>
            <p>₹50</p>
        </div>

        <div class="food-card">
            <img src="{% static 'foodapp/images/vada.jpg' %}">
            <h3>Vada</h3>
            <p>₹40</p>
        </div>

        <div class="food-card">
            <img src="{% static 'foodapp/images/panipuri.jpg' %}">
            <h3>Panipuri</h3>
            <p>₹60</p>
        </div>

        <div class="food-card">
            <img src="{% static 'foodapp/images/wadapav.jpg' %}">
            <h3>Wada Pav</h3>
            <p>₹40</p>
        </div>

        <div class="food-card">
    <img src="{% static 'foodapp/images/chicken65.jpg' %}">
    <h3>Chicken 65</h3>
    <p>₹180</p>
</div>

<div class="food-card">
    <img src="{% static 'foodapp/images/momos.jpg' %}">
    <h3>Momos</h3>
    <p>₹120</p>
</div>

    </div>
</section>

<!-- SWEETS -->
<section class="foods">
    <h2 class="section-title">Sweets</h2>

    <div class="food-grid">

        <div class="food-card">
            <img src="{% static 'foodapp/images/gulabjaamun.jpg' %}">
            <h3>Gulab Jamun</h3>
        </div>

        <div class="food-card">
            <img src="{% static 'foodapp/images/rasgulla.jpg' %}">
            <h3>Rasgulla</h3>
        </div>

        <div class="food-card">
            <img src="{% static 'foodapp/images/jelebi.jpg' %}">
            <h3>Jalebi</h3>
        </div>

        <div class="food-card">
            <img src="{% static 'foodapp/images/icecream.jpg' %}">
            <h3>Ice Cream</h3>
        </div>

    </div>
</section>

<!-- WHY CHOOSE US -->
<section class="why-us">
    <h2>Why Choose Dinora?</h2>

    <div class="why-grid">

        <div class="why-card">
            ⚡
            <h3>Fast Delivery</h3>
            <p>Food delivered in under 30 minutes.</p>
        </div>

        <div class="why-card">
            🍔
            <h3>Fresh Food</h3>
            <p>Prepared by trusted restaurants.</p>
        </div>

        <div class="why-card">
            🏪
            <h3>Top Restaurants</h3>
            <p>Best local restaurants near you.</p>
        </div>

        <div class="why-card">
            💰
            <h3>Best Prices</h3>
            <p>Exciting offers and discounts.</p>
        </div>

    </div>
</section>

{% endblock %}