{% extends 'foodapp/base.html' %}

{% block content %}
<section style="padding:50px;">
    {% load static %}

<section class="menu-page">
    <h1>Our Food Menu</h1>

    <div class="food-grid">

        <div class="food-card">
            <img src="{% static 'images/biryani.jpg' %}">
            <h3>Biryani</h3>
            <p>₹199</p>
        </div>

        <div class="food-card">
            <img src="{% static 'images/pizza.jpg' %}">
            <h3>Pizza</h3>
            <p>₹249</p>
        </div>

        <div class="food-card">
            <img src="{% static 'images/shawarma.jpg' %}">
            <h3>Shawarma</h3>
            <p>₹149</p>
        </div>

        <div class="food-card">
            <img src="{% static 'images/dosa.jpg' %}">
            <h3>Dosa</h3>
            <p>₹80</p>
        </div>

        <div class="food-card">
            <img src="{% static 'images/idly.jpg' %}">
            <h3>Idly</h3>
            <p>₹50</p>
        </div>

    </div>
</section>
</section>
{% endblock %}