{% extends "foodapp/base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'foodapp/css/offers.css' %}">
{% endblock %}



{% block content %}


<h1 class="section-title">Today's Special Offers</h1>


<div class="offer-container">


    {% for offer in offers %}


    <div class="offer-card">


        <img src="{{ offer.image.url }}" alt="{{ offer.title }}">


        <h3>
            {{ offer.title }}
        </h3>


        <p>
            {{ offer.description }}
        </p>



        <div class="coupon-code">
            🎟️ {{ offer.coupon_code }}
        </div>



        <button class="offer-btn">
            Grab Offer
        </button>


    </div>


    {% empty %}


    <p>No offers available.</p>


    {% endfor %}


</div>


{% endblock %}