{% extends 'foodapp/base.html' %}
{% load static %}

{% block content %}

<section class="offers-page">

    <h1>Today's Special Offers</h1>

    <div class="offer-grid">

        <div class="offer-card">
            <img src="{% static 'foodapp/images/offer1.jpg' %}">
            <h2>50% OFF</h2>
            <p>On First Order</p>
        </div>

        <div class="offer-card">
            <img src="{% static 'foodapp/images/offer2.jpg' %}">
            <h2>Free Delivery</h2>
            <p>Above ₹299</p>
        </div>

        <div class="offer-card">
            <img src="{% static 'foodapp/images/offer3.jpg' %}">
            <h2>Buy 1 Get 1</h2>
            <p>Selected Restaurants</p>
        </div>

    </div>

</section>

{% endblock %}