body{
    background:#FFF8F0;
    font-family:'Poppins',sans-serif;
}

.forgot-container{
    min-height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.forgot-card{
    width:450px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 8px 25px rgba(0,0,0,0.1);
    text-align:center;
}

.forgot-card h2{
    color:#ff6600;
    font-weight:700;
    margin-bottom:20px;
}

.forgot-card p{
    color:#666;
    line-height:1.7;
    margin-bottom:25px;
}

.forgot-card input{
    width:100%;
    padding:14px;
    border:1px solid #ddd;
    border-radius:10px;
    margin-bottom:20px;
    outline:none;
    font-size:16px;
}

.forgot-card input:focus{
    border-color:#ff6600;
}

.forgot-card button,
.forgot-card a.btn-link{
    display:block;
    width:100%;
    background:#ff6600;
    color:white;
    text-decoration:none;
    border:none;
    padding:14px;
    border-radius:10px;
    font-weight:600;
    transition:.3s;
}

.forgot-card button:hover,
.forgot-card a.btn-link:hover{
    background:#e65c00;
}

.errorlist{
    color:red;
    list-style:none;
    padding:0;
    font-size:14px;
}

.success-msg{
    color:green;
    font-weight:600;
    margin-top:15px;
}
.login-again-btn{
    display:inline-block;
    background:#ff6600;
    color:white;
    text-decoration:none;
    padding:12px 25px;
    border-radius:10px;
    font-weight:600;
    text-align:center;
    transition:0.3s;
    margin-top:20px;
}

.login-again-btn:hover{
    background:#e65c00;
    color:white;
}