{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Restaurant Dashboard</title>

    <link rel="stylesheet" href="{% static 'restaurant/css/dashboard.css' %}">
    {% block extra_css %}
    
    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

    <div class="dashboard">

        <!-- Sidebar -->

        <div class="sidebar">

            <h2>Dinora</h2>

            <!-- Dashboard -->

            <p class="sidebar-heading">Dashboard</p>

            <a href="{% url 'restaurant_dashboard' %}">
                <i class="fas fa-chart-line"></i>
                Dashboard
            </a>

            <!-- Food Management -->

            <p class="sidebar-heading">Food Management</p>

            <a href="{% url 'add_food' %}">
                <i class="fas fa-plus-circle"></i>
                Add Food
            </a>

            <a href="{% url 'view_foods' %}">
                <i class="fas fa-utensils"></i>
                View Foods
            </a>

            <!-- Order Management -->

            <p class="sidebar-heading">Order Management</p>

            <a href="{% url 'customer_orders' %}">
                <i class="fas fa-box-open"></i>
                Customer Orders
            </a>

            <!-- Restaurant -->

            <p class="sidebar-heading">Restaurant</p>

            <a href="{% url 'restaurant_status' %}">
                <i class="fas fa-store"></i>
                Open / Closed
            </a>
            <li>
                <a href="{% url 'restaurant_profile' %}">
                    Restaurant Profile
                </a>
            </li>

            <!-- Logout -->

            <p class="sidebar-heading">Account</p>

            <a href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>

        </div>

        <!-- Main Content -->

        <div class="main-content">

            {% block content %}
            {% endblock %}

        </div>

    </div>

</body>

</html>