{% extends 'restaurant/base_dashboard.html' %}

{% block content %}

<div class="page-header">
    <h1>Edit Food</h1>
    <p>Update your food item details.</p>
</div>

<div class="form-container">

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p }}
        <a href="{% url 'view_foods' %}" class="cancel-btn">
            Cancel
        </a>

        <button type="submit" class="save-btn">
            Update Food
        </button>


    </form>

</div>

{% endblock %}