{% extends 'foodapp/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/password_reset.css' %}">
{% endblock %}
{% block content %}

<div class="forgot-container">
    <div class="forgot-card">

        <h2>Email Sent</h2>

        <p>
            We've emailed you instructions for setting your password.
            If an account exists with the email you entered, you should receive them shortly.
        </p>

    </div>
</div>

{% endblock %}