.cart-container{
    width:90%;
    margin:40px auto;
}

.cart-container h1{
    margin-bottom:30px;
}

.cart-wrapper{
    display:flex;
    gap:30px;
}

.cart-items{
    flex:2;
}

.cart-item{
    display:flex;
    align-items:center;
    background:#fff;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    margin-bottom:20px;
}

.cart-item img{
    width:130px;
    height:100px;
    object-fit:cover;
    border-radius:10px;
}

.item-details{
    margin-left:20px;
    flex:1;
}

.item-details h3{
    margin-bottom:8px;
}

.item-details p{
    color:gray;
    margin-bottom:10px;
}

.item-details span{
    color:#f59e0b;
    font-weight:600;
}

.quantity{
    display:flex;
    align-items:center;
    gap:15px;
}

.quantity button{
    width:35px;
    height:35px;
    border:none;
    background:#f59e0b;
    color:white;
    border-radius:50%;
    cursor:pointer;
}

.remove a{
    margin-left:25px;
    color:red;
    text-decoration:none;
}

.cart-summary{
    flex:1;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    height:fit-content;
}

.summary-row{
    display:flex;
    justify-content:space-between;
    margin:20px 0;
}

.total{
    font-weight:bold;
    font-size:20px;
}

.checkout-btn{
    display:block;
    width:100%;
    padding:14px;
    background:#ff6600;
    color:white;
    text-align:center;
    text-decoration:none;
    border-radius:10px;
    font-weight:600;
    font-size:16px;
    margin-top:20px;
    transition:.3s;
}

.checkout-btn:hover{
    background:#e65c00;
}
.restaurant-name{
    color:#ff6600;
    font-size:15px;
    font-weight:600;
    margin:5px 0 2px;
}

.restaurant-location{
    color:#777;
    font-size:13px;
    margin-bottom:8px;
}

.clear-cart-btn{
    display:block;
    width:100%;
    padding:14px;
    margin-top:15px;
    background:#dc3545;
    color:white;
    text-align:center;
    text-decoration:none;
    border-radius:10px;
    font-weight:600;
    font-size:16px;
    transition:.3s;
}

.clear-cart-btn:hover{
    background:#bb2d3b;
}