.success-container{
    height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.success-card{
    width:500px;
    background:white;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.success-icon{
    width:90px;
    height:90px;
    margin:auto;
    background:#22c55e;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
}

.success-card h1{
    margin-top:20px;
}

.success-card p{
    margin:20px 0;
    color:gray;
}

.track-btn{
    display:inline-block;
    margin-top:20px;
    padding:15px 30px;
    background:#f59e0b;
    color:white;
    text-decoration:none;
    border-radius:10px;
}